/*
 * @Author: Denzel
 * @Date: 2018-02-04 20:34:27
 * @Last Modified by:   Denzel
 * @Last Modified time: 2018-02-04 20:34:27
 */


//框架
//背景颜色
//背景底色
$bgColors: #1b0753;
//模块背景色
$moduleBgColor: #1e1758;
//标题背景色
$titleBgColor: #312780;

//分割线
$segmentLine: #362EC4; //#362e7a

//辅助色
$auxiliaryColor01: #150f4c;
$auxiliaryColor02: #271f6d;
$auxiliaryColor03: #4d3ecb;
$auxiliaryColor04: #4f44a6;
$auxiliaryColor05: #4d39f4;
$auxiliaryColor06: #6e5dff;
$auxiliaryColor07: #7178ff;

//字体颜色
//重要字体颜色
$primaryFontColor: #e6ebff;
//默认字体颜色
$defautFontColor: #b3c1ff;
//浅蓝色字体颜色
$lightBluefontColor: #99a4d6;
//浅蓝色字体颜色
$darkBluefontColor: #8b93ff;
//橙色字体颜色
$orangefontColor: #ffcf2a;
//白色字体颜色
$wirtefontColor:#fff;

$fir-level:   #05B800;
$sec-level:   #7CB424;
$thr-level:   #FCC802;
$for-level:   #FF8F35;
$fiv-level:   #FC341E;


//指标颜色
$z01: #ff1013;
$z02: #fd9c03;
$z03: #f3ce00;
$z04: #3573c3;


$z05: #05b800;
$z06: #7cb424;
$z07: #f3c802;
$z08: #ff8f35;
$z09: #fc341e;


$z10: #34ac47;
$z11: #eaed26;
$z12: #f3b710;
$z13: #ed1f24;
$z14: #6e2077;
$z15: #b51d23;


$e01:#5b67ff;
$e02:#2678ff;
$e03:#0e8cf6;
$e04:#00a2ff;
$e05:#00bbf0;
$e06:#00cab5;
$e07:#00d596;
$e08:#00be55;
$e09:#44b444;
$e10:#89cb15;
$e11:#f0dd06;
$e12:#ffb414;
$e13:#ff9d10;
$e14:#ff8420;
$e15:#ff703e;
$e16:#ff5f5f;
$e17:#ff52a8;
$e18:#f249e5;
$e19:#c34eff;
$e20:#a25eff;
$e21:#8c64ff;




