@import "theme";

body {
  font: normal 16px "Microsoft Yahei", Futura, sans-serif;
  height: 100%;
  background-color: $titleBgColor;
}

$bottonBg: $auxiliaryColor07;
div, p, ul, li, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

.game-box {
  position: relative;
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 10px;

  text-align: center;
  .nav-bar {
    position: relative;
    .go-back {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      left: 5px;
      top: 12px;
      background-color: yellowgreen;
      &:before {
        content: '';
        top: 9px;
        left: 4px;
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent white transparent white;
        border-width: 6px 11px 6px 0;
        border-style: solid;
      }
      &:after {
        content: '';
        top: 12px;
        left: 11px;
        position: absolute;
        width: 13px;
        height: 6px;
        background-color: white;
      }
    }
  }
  .show-status {
    display: inline-block;
    position: relative;
    font: bold 1rem/1.8rem "Microsoft Yahei";
    padding: 0 30px;
    margin: 10px 0 30px;
    color: $lightBluefontColor;
    border: 2px solid $segmentLine;
    border-radius: 25px;
    &.success-status {
      color: $auxiliaryColor06;
    }
    .total-step {
      display: inline-block;
      position: absolute;
      box-sizing: border-box;
      WIDTH: 48px;
      right: -70px;
      top: 0;
      padding: 0 10px;
      border: 2px solid $auxiliaryColor03;
      background-color: $auxiliaryColor07;
      border-radius: 5px;
      color: white;
    }
  }
  .widget-block {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    padding: 1px;
    border-radius: 2px;
    color: $primaryFontColor;
    background-color: $moduleBgColor;
  }
  .stop-button {
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 50px;
    border-radius: 40px;
    background-color: $auxiliaryColor06;
    &:before {
      content: '';
      position: absolute;
      height: 40px;
      width: 12px;
      background-color: $primaryFontColor;
      top: 20px;
      left: 24px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 40px;
      width: 12px;
      background-color: $primaryFontColor;
      top: 20px;
      right: 24px;
    }
  }
  .start-button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    &:before {
      content: '';
      top: 14px;
      left: 21px;
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent greenyellow transparent greenyellow;
      border-width: 16px 0 16px 30px;
      border-style: solid;
    }
    &.be-center {
      background-color: white;
      position: relative;
      margin: 50px auto 0;
      &:before {
        top: 25px;
        left: 30px;
      }
    }
  }
  .shadow-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
  }
}

.widget-block {
  &.add-filter {
    li {
      filter: blur(1px);
    }
  }
  li {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 2px;
    background-color: $auxiliaryColor07;
    margin: 0 2px 2px 0;
    font: bold 1.5rem "Microsoft Yahei";
    transition: transform 1s ease-out;
    touch-action: none;
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
      border: 1px solid $auxiliaryColor03;
      border-radius: 2px;
    }
    &.empty-block {
      height: 0;
      width: 0;
      background-color: transparent;
      font-size: 0;
      &:before {
        display: none;
      }
    }
  }
}

.shadow-box {
  &.show-success {
    background-color: white;
    .vertical-box {
      border: 2px solid $darkBluefontColor;
      border-radius: 15px;
      background-color: $primaryFontColor;
    }
    .shadow-info {
      color: $auxiliaryColor07;
    }
  }
  .middle-left {
    text-align: left;
    line-height: 42px;
    display: inline-block;
  }
  .vertical-box {
    margin: 25px 35px;
    padding: 15px 0;
    box-sizing: border-box;
  }
  .shadow-info {
    width: 100%;
    font: bold 1.3rem/1.8rem "Microsoft Yahei";
    padding: 0 0 10px;
    color: white;
  }
  .show-level {
    font: bold 1.6rem/2.5rem "Microsoft Yahei";
    padding: 20px 0 0;
    color: $auxiliaryColor07;
  }
  .show-time {
    font: bold 1.3rem/1.8rem "Microsoft Yahei";
    color: $auxiliaryColor07;
  }
  .shadow-event {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 10px;
    span {
      display: inline-block;
      position: relative;
      height: 60px;
      width: 60px;
      border-radius: 30px;
      background-color: $bottonBg;
    }
    .more-button {
      color: white;
      background-image: url('../images/refresh.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 45px 45px;
    }
    .share-button {
      color: white;
      background-image: url('../images/share.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px 35px;
    }
    .home-button {
      color: white;
      background-image: url('../images/home.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40px 40px;
    }
    .reset-button {
      &:before {
        content: '';
        top: 19px;
        left: 19px;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: $fiv-level;
      }
    }
    .homed-button {
      &:before {
        content: '';
        top: 12px;
        left: 10px;
        position: absolute;
        width: 0;
        height: 0;
        border-color: white transparent white transparent;
        border-width: 0 20px 16px 20px;
        border-style: solid;
      }
      &:after {
        content: '';
        top: 28px;
        left: 20px;
        position: absolute;
        width: 21px;
        height: 15px;
        background-color: white;
      }
    }
  }
}

.home-page {
  margin-top: 50px;
  text-align: center;
  color: $primaryFontColor;
  h2 {
    line-height: 1.5em;
  }
  h3 {
    line-height: 2em;
  }
  a.about {
    position: fixed;
    right: 15px;
    top: 15px;
    text-decoration: none;
    svg {
      height: 35px;
      width: 35px;
      fill: $wirtefontColor;
    }
    &:hover {
      color: $darkBluefontColor;
      transition: all 0.3s;
      svg {
        fill: $defautFontColor;
      }
    }
  }
  .level-items {
    margin-top: 30px;
    line-height: 3rem;
    color: $e05;
    li {
      font-weight: bold;
      margin: 20px auto 0;
      width: 150px;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 1.5rem;
      letter-spacing: 0.5rem;
      a {
        color: $e05;
        text-decoration: none;
        &:hover {
          color: $e09;
          cursor: pointer;
        }
      }
      &:last-child {
        letter-spacing: 0.5rem;
        span {
          letter-spacing: .1rem;
        }
      }
    }
  }
}

.picker-module {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  &.none {
    display: none;
  }
  .picker-content {
    position: relative;
    z-index: 7;
    background-color: white;
    overflow: hidden;
  }
  li {
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  .opacity-layer {
    position: relative;
    z-index: 8;
    li {
      background-color: rgba(225, 225, 225, 0.6);
      &.curry {
        border: 1px solid rgba(225, 225, 225, 0.7);
        background-color: rgba(225, 225, 225, 0.2);
      }
    }

  }
  .select-list {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    font-size: 1rem;
    transition: font 0.3s, transform 0.5s ease-out;
    color: $darkBluefontColor;
    .curry {
      font-size: 1.2rem;
    }
  }

}

.button-bar {
  position: relative;
  z-index: 8;
  line-height: 35px;
  background-color: $sec-level;
  font-size: 16px;
  color: $primaryFontColor;
  span {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 33.3%;
  }
  .select-name {
    font-size: 18px;
  }
  .btn-cancel {
    text-align: left;
    padding-left: 20px;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
  .btn-sure {
    text-align: right;
    padding-right: 20px;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.piker-shadow {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, .68);
}